<div *ngIf="activity" class="card text-dark bg-light mb-3">
  <div class="card-header">Created {{ createdAgo | timeAgo }} by <a routerLink="/profile/{{activity.userId}}"><span *ngIf="userName">{{userName}}</span><span *ngIf="!userName"> user {{activity.userId | slice:0:4}}...</span></a>
  </div>
  <div class="card-body border-bottom border-info">
    <h5 class="card-title"><span class="badge text-light bg-{{(activity.category | lowercase)}}">{{activity.category | uppercase}}</span><br/>
      <a class="text-dark" routerLink="/show-activity/{{activity.id}}">{{ (activity.title.length > 25)?((activity.title | slice:0:20) + '...'):(activity.title)}}</a></h5>
    <div class="row justify-content-center mt-1 mb-2">
      <div class="card text-center">
        <div class="card-header border-success">
          Distance
        </div>
        <div class="card-body">
          <h5 class="card-title">{{activity.distance}}</h5>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header border-danger">
          Time
        </div>
        <div class="card-body">
          <h5 class="card-title">{{converter.getTimeString(activity.time)}}</h5>
        </div>
      </div>
    </div>

    <a class="btn btn-primary btn-sm btn-block" routerLink="/show-activity/{{activity.id}}">Show details</a>
  </div>
</div>
