<div class="mt-2 mx-3">
  <div class="my-2">
    <a class="btn btn-outline-primary" href="/activities" role="button">Back to activities</a>
  </div>
  <app-alerts></app-alerts>
  <div class="card text-dark bg-light my-2">
    <div class="card-header bg-dark text-light">Add new activity</div>
    <div class="card-body border-bottom border-warning">
      <form [formGroup]="addActivityForm" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <label class="input-group-text text-white bg-dark">Title</label>
          </div>
          <input type="text" formControlName="title" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
            <div *ngIf="f.title.errors.maxLength">Title is too long</div>
          </div>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <label class="input-group-text text-white bg-dark">Category</label>
          </div>
          <input type="text" formControlName="category" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.category.errors }"/>
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">Category is required</div>
            <div *ngIf="f.category.errors.mustBeValid">Category must match one of following: (ride, run, swim).</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group input-group col-5">
            <div class="input-group-prepend">
              <label class="input-group-text text-white bg-dark border">Distance</label>
            </div>
            <input type="number" step="0.01" min="0" max="5000" formControlName="distance" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.distance.errors }"/>
            <div class="input-group-append">
              <label class="input-group-text bg-white border border-success">km</label>
            </div>
            <div *ngIf="submitted && f.distance.errors" class="invalid-feedback">
              <div *ngIf="f.distance.errors.required">Distance is required</div>
              <div *ngIf="f.distance.errors.min">Your distance must be positive</div>
              <div *ngIf="f.distance.errors.max">Your can provide max 5000km distance</div>
            </div>
          </div>
          <div class="form-group input-group col-7">
            <div class="input-group-prepend">
              <label class="input-group-text text-white bg-dark">Time</label>
            </div>
            <input type="number" min="0" max="99" placeholder="HH" formControlName="timeHour" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.timeHour.errors }"/>
            <input type="number" min="0" max="59" placeholder="MM" formControlName="timeMin" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.timeMin.errors }"/>
            <input type="number" min="0" max="59" placeholder="SS" formControlName="timeSec" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.timeSec.errors }"/>
            <div *ngIf="submitted && f.timeHour.errors" class="invalid-feedback">
              <div *ngIf="f.timeHour.errors.min || f.timeHour.errors.max">Invalid hours</div>
            </div>
            <div *ngIf="submitted && f.timeMin.errors" class="invalid-feedback">
              <div *ngIf="f.timeMin.errors.min || f.timeMin.errors.max">Invalid minutes</div>
            </div>
            <div *ngIf="submitted && f.timeSec.errors" class="invalid-feedback">
              <div *ngIf="f.timeSec.errors.min || f.timeSec.errors.max">Invalid seconds</div>
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header text-white bg-dark">
            Start time
          </div>
          <div class="card-body">
            <form class="`d-flex justify-content-center text-center`">
              <div class="form-group">
                <ngb-timepicker [formControl]="timePickerCtrl" required></ngb-timepicker>
                <div class="small form-text text-danger" *ngIf="!timePickerCtrl.valid">
                  <div *ngIf="submitted && timePickerCtrl.errors['required']">Start time is required</div>
                </div>
              </div>
            </form>
            <form class="form-inline justify-content-center mb-2">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" [formControl]="datePickerCtrl"
                         name="dp" [(ngModel)]="datePickerModel" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="d.toggle()"><small>\/</small></button>
                    <button class="btn btn-outline-primary" (click)="datePickerModel = today">Today</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="small form-text text-danger" *ngIf="!datePickerCtrl.valid">
              <div *ngIf="submitted && datePickerCtrl.errors['required']">Start date is required</div>
            </div>
            <div class="small form-text text-secondary text-center mt-1">
              Please note, that if you select time in future, it will be replaced with current time.
            </div>
          </div>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text text-white bg-dark">Description</span>
          </div>
          <textarea formControlName="description" class="form-control" placeholder="Write about your adventure..."
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.maxLength">Description is too long</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Add activity</button>
      </form>
    </div>
  </div>
</div>
