<div class="mt-2 mx-3">
  <div class="jumbotron">
    <h1>Activities</h1>
    <a class="btn btn-outline-primary" href="/add-activity" role="button">Add new activity</a>
  </div>
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">3 hours ago by <a href="">John Cooper</a></div>
    <div class="card-body border-bottom border-info">
      <h5 class="card-title"><a class="text-dark" href="#">Night ride <span
        class="badge text-light bg-dark">RIDE</span></a></h5>
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the
        card's
        content. It;s beee a great ride guys, thansk!!!</p>

      <div class="row justify-content-center mt-1 mb-2">
        <div class="card text-center">
          <div class="card-header border-success">
            Distance
          </div>
          <div class="card-body">
            <h5 class="card-title">33.12 km</h5>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header border-danger">
            Time
          </div>
          <div class="card-body">
            <h5 class="card-title">1:31:31</h5>
          </div>
        </div>
      </div>

      <a class="btn btn-outline-info btn-sm btn-block" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
        Comments
      </a>
    </div>
    <div class="collapse" id="comments">
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>Mike: </b>Comment 1</div>
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>John: </b>Comment 1</div>
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>Fastest rider ever: </b>Thank you
        too!
      </div>
      <div class="card-header text-light bg-light">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 border border-info w-auto" type="search" placeholder="Write comment..."
                 aria-label="Add comment">
          <button class="btn btn-info my-2 my-sm-0" type="submit">+</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card text-dark bg-light mb-3">
    <div class="card-header">12 hours ago by <a href="">Jean Michel Jarre</a></div>
    <div class="card-body border-bottom border-info">
      <h5 class="card-title"><a class="text-dark" href="#">Krakow -> Baltic
        <span class="badge text-light bg-dark">RIDE</span></a></h5>
      <p class="card-text text-secondary"> Imma mother fu**g monster !!! Some quick example text to build on the card title and make up the bulk of the
        card's
        content. It;s beee a great ride guys, thansk!!!</p>

      <div class="row justify-content-center mt-1 mb-2">
        <div class="card text-center">
          <div class="card-header border-success">
            Distance
          </div>
          <div class="card-body">
            <h5 class="card-title">433.12 km</h5>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header border-danger">
            Time
          </div>
          <div class="card-body">
            <h5 class="card-title">18:11:46</h5>
          </div>
        </div>
      </div>

      <a class="btn btn-outline-info btn-sm btn-block" data-toggle="collapse" href="#comments2" role="button" aria-expanded="false" aria-controls="comments2">
        Comments
      </a>
    </div>
    <div class="collapse" id="comments2">
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>Mike: </b>Comment 1</div>
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>John: </b>Comment 1</div>
      <div class="card-header text-dark bg-light border-bottom border-secondary"><b>Fastest rider ever: </b>Thank you
        too!
      </div>
      <div class="card-header text-light bg-light">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 border border-info w-auto" type="search" placeholder="Write comment..."
                 aria-label="Add comment">
          <button class="btn btn-info my-2 my-sm-0" type="submit">+</button>
        </form>
      </div>
    </div>
  </div>
</div>
