<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1 text-primary">Welcome to <b>Efforteo</b></h1>
    <br/>
    <hr class="my-4">
    <br/>
    <img src="../assets/cup.png">
    <h1 class="display-4">Train like a champ!</h1>
    <p class="lead"><a class="text-success" routerLink="/sign-up"><b>Sign up</b></a> to monitor your training progress and perform like a champion.</p>
    <br/>
    <hr class="my-4">
    <br/>
    <img src="../assets/bike.png" style="padding-right: 40px">
    <img src="../assets/swim.png" style="padding-right: 40px">
    <img src="../assets/run.png">
    <h1 class="display-4">Multiple sports</h1>
    <p class="lead">Add activities for multiple sports. With us you can ride, you can run, you can do whathever you
      want.</p>
  </div>
</div>
