<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h2 class="display-3 text-primary"><b>Efforteo.</b></h2>
    <h4 class="text-weight-light mt-1">Your training assistant</h4>
    <hr class="my-5">
    <img src="../../assets/cup.png" alt="cup">
    <h3 class="display-5">Train like a champ!</h3>
    <p class="lead"><a class="text-success" routerLink="/sign-up"><b>Sign up</b></a> to monitor your training progress
      and perform like a champion.</p>
    <br/>
    <hr class="my-4">
    <br/>
    <img src="../../assets/bike.png" alt="bike" style="padding-right: 40px">
    <img src="../../assets/swim.png" alt="swim" style="padding-right: 40px">
    <img src="../../assets/run.png" alt="run">
    <h3 class="display-5">Multiple sports</h3>
    <p class="lead">Add activities for multiple sports. With us you can ride, you can run, you can do whatever you
      want.</p>
  </div>
</div>
