<div *ngIf="stats && stats.length > 0">
  <ngb-tabset type="pills" justify="fill">
    <ngb-tab *ngFor="let detailedStat of stats" title="{{detailedStat.category | titlecase}}">
      <ng-template ngbTabContent class="mb-2">
        <table class="table table-hover table-striped table-default table-responsive-lg">
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Distance<br/>[km]</th>
            <th scope="col">Time</th>
            <td align="right"><b>Speed<br/>[km/h]</b></td>
            <th scope="col">+/-</th>
            <td align="right"><b>Pace<br/>[min/km]</b></td>
            <th scope="col">+/-</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pair of detailedStat.stats">
            <td class="align-middle">
              <span class="badge text-light bg-primary">{{pair.stat.createdAt | date:'HH:mm' | uppercase}}<br/>
                {{pair.stat.createdAt | date:'d/M/yy' | uppercase}}</span>
            </td>
            <td class="align-middle">{{getTitle(pair.stat)}}</td>
            <td class="align-middle">{{pair.stat.distance}}</td>
            <td class="align-middle">{{converter.getTimeString(pair.stat.time)}}</td>
            <td class="align-middle" align="right">{{pair.stat.speed ? (pair.stat.speed | number:'1.2-2') : '--'}}</td>

            <td *ngIf="pair.predecessor && pair.predecessor.deltaSpeed >= 0" class="align-middle"><span
              class="badge-pill badge-success w-100">+{{pair.predecessor.deltaSpeed | number:'1.2-2'}}</span></td>
            <td *ngIf="pair.predecessor && pair.predecessor.deltaSpeed < 0" class="align-middle"><span
              class="badge-pill badge-danger w-100">{{pair.predecessor.deltaSpeed | number:'1.2-2'}}</span></td>
            <td *ngIf="!pair.predecessor" class="align-middle">--</td>

            <td class="align-middle"
                align="right">{{pair.stat.pace ? converter.getPaceTimeString(pair.stat.pace) : '--'}}</td>

            <td *ngIf="pair.predecessor && pair.predecessor.deltaPace > 0" class="align-middle"><span
              class="badge-pill badge-danger">+{{converter.getPaceTimeString(pair.predecessor.deltaPace)}}</span></td>
            <td *ngIf="pair.predecessor && pair.predecessor.deltaPace <= 0" class="align-middle"><span
              class="inline badge-pill badge-success">-{{converter.getPaceTimeString(-pair.predecessor.deltaPace)}}</span>
            </td>
            <td *ngIf="!pair.predecessor" class="align-middle">--</td>

            <td><a class="btn btn-sm btn-outline-primary mr-1 mt-1"
                   routerLink="/show-activity/{{pair.stat.id}}">Details</a><a *ngIf="pair.predecessor"
                                                                              class="btn btn-sm btn-outline-success mt-1"
                                                                              routerLink="/show-activity/{{pair.predecessor.id}}">Previous</a>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
