<div class="mt-2 mx-3">
  <div class="jumbotron">
    <p class="lead">Activity {{ id }}</p>
    <a class="btn btn-outline-primary" routerLink="/activities" role="button">Go to activities</a>
  </div>

  <app-alerts></app-alerts>

  <app-loader *ngIf="toggleService.isShown(onCreateLoaderName)" class="my-3 d-flex justify-content-center"
              size="100"></app-loader>
  <div class="col-xl-10 offset-xl-1 px-xl-5" *ngIf="!toggleService.isShown(onCreateLoaderName) && activity">
    <div [(ngModel)]="activity" name="activity" class="card text-dark bg-light mb-3" ngDefaultControl>
      <div class="card-header" [(ngModel)]="createdAgo" name="createdAgo" ngDefaultControl>
        Created {{ createdAgo | timeAgo }} by
        <app-loader *ngIf="toggleService.isShown(userNameLoaderName)" size="15"></app-loader>
        <span *ngIf="!toggleService.isShown(userNameLoaderName)">
          <a *ngIf="userName" routerLink="/show-profile/{{activity.userId}}" [(ngModel)]="userName"
             ngDefaultControl>{{userName}}</a>
          <button *ngIf="!userName" (click)="loadUserName()" class="btn btn-outline-success btn-sm">Refresh</button>
      </span>
      </div>
      <div class="card-body border-bottom border-info">
        <h5><span class="badge text-light bg-primary"
                  style="background-color: purple">{{activity.createdAt | date:'HH:mm' | uppercase}}
          | {{activity.createdAt | date | uppercase}}</span></h5>
        <h5><span
          class="badge text-light bg-{{(activity.category | lowercase)}}">{{activity.category | uppercase}}</span></h5>
        <h4 class="card-title">{{activity.title}}</h4>
        <p class="card-text text-dark col-6">{{activity.description}}</p>
        <div class="row justify-content-center mt-1 mb-2">
          <div class="card text-center mx-1">
            <div class="card-header border-success">
              Distance
            </div>
            <div class="card-body">
              <h5 class="card-title">{{activity.distance}} km</h5>
            </div>
          </div>
          <div class="card text-center mx-1">
            <div class="card-header border-danger">
              Time
            </div>
            <div class="card-body">
              <h5 class="card-title">{{converter.getTimeString(activity.time)}}</h5>
            </div>
          </div>
          <div class="card text-center ml-3 mr-1">
            <div class="card-header border-warning">
              Pace
            </div>
            <div class="card-body">
              <app-loader *ngIf="toggleService.isShown(paceLoaderName)" size="15"></app-loader>
              <span *ngIf="!toggleService.isShown(paceLoaderName)">
                  <span
                    *ngIf="activityStats">{{activityStats.pace ? converter.getPaceTimeString(activityStats.pace) + ' min/km' : '--'}}</span>
                  <button *ngIf="!activityStats" (click)="loadStats()"
                          class="btn btn-outline-success btn-sm">Refresh</button>
                </span>
            </div>
          </div>
          <div class="card text-center mx-1">
            <div class="card-header border-warning">
              Speed
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <app-loader *ngIf="toggleService.isShown(speedLoaderName)" size="15"></app-loader>
                <span *ngIf="!toggleService.isShown(speedLoaderName)">
                  <span
                    *ngIf="activityStats">{{activityStats.speed ? (activityStats.speed | number:'1.2-2') + ' km/h' : '--'}}</span>
                  <button *ngIf="!activityStats" (click)="loadStats()"
                          class="btn btn-outline-success btn-sm">Refresh</button>
                </span>
              </h5>
            </div>
          </div>
        </div>

        <div *ngIf="isOwner">
          <hr/>
          <a class="btn btn-outline-primary btn-sm btn-block mt-4" routerLink="/edit-activity/{{activity.id}}">
            Edit
          </a>
          <a class="btn btn-outline-danger btn-sm btn-block mt-1" routerLink="/remove-activity/{{activity.id}}">
            Remove
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
