<div class="mt-2 mx-3">
  <div class="jumbotron">
    <h1>Dashboard</h1>
  </div>

  <div class="jumbotron">
    <h3>Last 7 days stats</h3>
    <hr/>
    <app-loader *ngIf="toggleService.isShown(statsLoaderName)"
                class="my-3 d-flex justify-content-center"
                size="100"></app-loader>
    <div *ngIf="!toggleService.isShown(statsLoaderName)">
      <div *ngIf="!stats">
        <h5>No stats to display.</h5>
      </div>
      <div *ngIf="stats">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                  <p class="lead">Time in hours</p>
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="col-lg-6" style="display: block; margin: auto;" align="center">
                  <app-period-chart [(ngModel)]="stats" [stats]="stats" statType="time" chartType="bar"
                                    ngDefaultControl style="display: block; margin: auto;"
                                    align="center"></app-period-chart>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <p class="lead">Distance in km</p>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="col-lg-6" style="display: block; margin: auto;" align="center">
                  <app-period-chart [(ngModel)]="stats" [stats]="stats" statType="distance" chartType="line"
                                    ngDefaultControl></app-period-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h3>Last activity in community</h3>
    <hr/>
    <app-loader *ngIf="toggleService.isShown(lastCommunityActivityLoaderName)"
                class="my-3 d-flex justify-content-center"
                size="100"></app-loader>
    <div *ngIf="!toggleService.isShown(lastCommunityActivityLoaderName)">
      <div *ngIf="!lastCommunityActivity">
        <h5>No activities to display.</h5>
      </div>
      <div *ngIf="lastCommunityActivity">
        <app-brief-activity [activity]="lastCommunityActivity"></app-brief-activity>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h3>Your last activity</h3>
    <hr/>
    <app-loader *ngIf="toggleService.isShown(lastUserActivityLoaderName)"
                class="my-3 d-flex justify-content-center"
                size="100"></app-loader>
    <div *ngIf="!toggleService.isShown(lastUserActivityLoaderName)">
      <div *ngIf="!lastUserActivity">
        <h5>No activities to display.</h5>
      </div>
      <div *ngIf="lastUserActivity">
        <app-brief-activity [activity]="lastUserActivity"></app-brief-activity>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <a class="btn btn-primary btn-sm btn-block mb-1" routerLink="/add-activity">Add new activity</a>
    <a class="btn btn-primary btn-sm btn-block" routerLink="/activities">Go to activity feed</a>
  </div>
</div>
