<ngb-tabset *ngIf="stats && stats.length > 0" type="pills" justify="center">
  <ngb-tab *ngFor="let stat of stats" title="{{stat.category | titlecase}}">
    <ng-template ngbTabContent class="mb-2">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Amount</span>
          <span class="">{{stat.amount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Time</span>
          <span class="">{{converter.getTimeString(stat.time)}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Distance</span>
          <span class="">{{stat.distance}} km</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Avg. speed</span>
          <span class="">{{stat.averageSpeed | number:'1.2-2'}} km/h</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Avg. pace</span>
          <span class="">{{converter.getPaceTimeString(stat.averagePace)}} min/km</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Longest distance</span>
          <span class=""><a routerLink="/show-activity/{{stat.longestDistance.id}}">{{stat.longestDistance.distance}} km</a></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="">Longest time</span>
          <span class=""><a routerLink="/show-activity/{{stat.longestTime.id}}">{{converter.getTimeString(stat.longestTime.time)}}</a></span>
        </li>
      </ul>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
